{extend name="public/base" /}
{block name="title"}角色编辑{/block}
{block name="main"}>
    <div class="x-body">
        <form class="layui-form" action="{:url('role/save');}" method="post">
            <!--防止重复提交-->
            <input type="hidden"  name="__token__" class="layui-input" value="{:token()}">
            <!--场景-->
            <input type="hidden"  name="scene" class="layui-input" value="insert">
            {if $model.id}
            <input type="hidden"  name="id" class="layui-input" value="{$model.id}">
            {/if}
            <div class="layui-form-item">
                <label  class="layui-form-label">
                    角色名
                </label>
                <div class="layui-input-inline">
                    <input type="text" name="name" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">
                    描述
                </label>
                <div class="layui-input-block">
                    <textarea type="text"  name="description" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button  class="layui-btn" lay-filter="add" lay-submit="" type="submit">
                    修改
                </button>
                <button  class="layui-btn layui-btn-danger" type="button"  onclick="history.back(-1)">
                    返回
                </button>
           </div>
      </form>
    </div>
{/block}