{extend name="public/base" /}
{block name="title"}角色列表{/block}
{block name="main"}
    <div class="x-nav">
      <span class="layui-breadcrumb">

        <a href="{:url('index/welcome');}">首页</a>
        <a>
          <cite>角色列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" action="{:url('role/index')}" >
          <input type="text" name="name" value="{$name ? :''}" placeholder="请输入角色名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <a class="layui-btn" href="{:url('role/create')}"><i class="layui-icon"></i>添加角色</a>
        <span class="x-right" style="line-height:40px">共有数据：{$count} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>名称</th>
            <th>描述</th>
            <th>操作</th></tr>
        </thead>
        <tbody>
          {assign name="empty" value='<tr><td colspan="9">暂无数据</td></tr>'}
          {volist name="models" id="model" empty="$empty"}
            <tr>
                <td>{$model.id}</td>
                <td>{$model.name}</td>
                <td>{$model.description}</td>
                <td class="td-manage" id="{$model.id}">
                    <a title="编辑"   href="{:url('role/edit',['id'=>$model.id])}">
                      <i class="layui-icon">&#xe642;</i>
                    </a>
                    <a title="删除" class="item-delete" data-id="{$model.id}" href="{:url('role/delete' , ['id'=>$model.id]);}">
                      <i class="layui-icon"></i>
                    </a>
                </td>
            </tr>
          {/volist}
        </tbody>
      </table>
      <!--分页-->
      {$models|raw}
    </div>
{/block}

{block name="js"}
<script>
    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(){
            $.get('{:url("member/delete");}',{'id':id},function(res){
                if(res.code>0){
                    layer.alert(res.msg,{icon:2});return false;
                }else{
                    layer.alert(res.msg);
                    setTimeout(function(){window.location.href = '{:url("member/list")}'},1000);
                }
            },'json');
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }
    /*用户-删除*/
    // function member_del(obj,id){
    //     layer.confirm('确认要删除吗？',function(){
    //          $.get('{:url("member/delete");}',{'id':id},function(res){
    //           if(res.code>0){
    //               layer.alert(res.msg,{icon:2});return false;
    //           }else{
    //               layer.alert(res.msg);
    //               setTimeout(function(){window.location.href = '{:url("member/list")}'},1000);
    //           }
    //       },'json');
    //         $(obj).parents("tr").remove();
    //         layer.msg('已删除!',{icon:1,time:1000});
    //     });
    // }

    $('.item-delete').click(function(obj) {
        let flag = confirm('你确认删除该条记录吗？');
        return flag ? true : false;
    });

</script>
{/block}