<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>后台 - {block name="title"}{/block}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--移动社备优先-->
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />


    {css href="__ADMIN__/css/font.css"}
    {css href="__ADMIN__/css/xadmin.css"}
    {js href="__ADMIN__/jquery.min.js"}
    {js href="__ADMIN__/lib/layui/layui.js"}
    {js href="__ADMIN__/js/xadmin.js"}

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    {block name="main"}{/block}

    {block name="js"}{/block}
    <script>
        $.fn.linkConfirm = function (msg) {
            $(this).on('click', function (e) {

                e.preventDefault();

                var url = $(this).attr('href');

                var dlg = layer.confirm(msg, function () {

                    layer.close(dlg);

                    window.location.href = url;

                })

            });

        };


        $('.item-delete').linkConfirm('确定要删除该项？');
    </script>
</body>
</html>