{extend name="public/base" /}
{block name="title"}个人信息{/block}
{block name="main"}
<div class="x-body">
    <form class="layui-form" action="{:url('member/save')}" method="post"  enctype="multipart/form-data">
        <!--防止重复提交-->
        <input type="hidden"  name="__token__" class="layui-input" value="{:token()}">
        <input type="hidden" name="_method" value="put" >
        <!--场景-->
        <input type="hidden"  name="scene" class="layui-input" value="edit">
        <div class="layui-form-item">
            <label class="layui-form-label">
                用户名
            </label>
            <div class="layui-input-block">
                <input type="text"  name="username" autocomplete="off" class="layui-input" value="{$model.username}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                标签
            </label>
            <div class="layui-input-block">
                <input type="text"  name="tags" autocomplete="off" class="layui-input"  value="{$model.tags}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">
                图片
            </label>
            <div class="layui-input-block">
                <input type="file"  name="cover">
            </div>
            {if $model.cover}
            <img src="{:$model.cover ?? '';}" alt="" width="200px;" height="200px">
            {else}
            {/if}
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">
                描述
            </label>
            <div class="layui-input-block">
                <textarea type="text"  name="summary" class="layui-textarea"  value="{$model.summary}"></textarea>
            </div>
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="add" lay-submit="" type="submit">
                修改
            </button>
            <button  class="layui-btn layui-btn-danger" type="button"  onclick="history.back(-1)">
                返回
            </button>
        </div>
    </form>
</div>
{/block}