{extend name="public/base" /}
{block name="title"}会员修改{/block}
{block name="main"}
    <div class="x-body">
        <form class="layui-form" action="{:url('member/save' , ['id'=>$id])}" method="post">
            <!--防止重复提交-->
            <input type="hidden"  name="__token__" class="layui-input" value="{:token()}">
            <input type="hidden" name="_method" value="put" >
            <!--场景-->
            <input type="hidden"  name="scene" class="layui-input" value="edit">
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>用户名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_username" name="username" required="" lay-verify="nikename"
                           autocomplete="off" class="layui-input" value="{$model.username}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="email" class="layui-form-label">
                    <span class="x-red">*</span>邮箱
                </label>
                <div class="layui-input-inline">
                    <input type="text"  name="email" disabled class="layui-input" value="{$model.email}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">
                    <span class="x-red">*</span>密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_pass" name="password" required="" lay-verify="pass"
                           autocomplete="off" class="layui-input" value="{$model.password}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    6到16个字符
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_repass" name="password_confirm" required="" lay-verify="repass"
                           autocomplete="off" class="layui-input"  value="{$model.password}">
                </div>
            </div>

            <div class="layui-form-item" style="width: 200px;">
                <label class="layui-form-label">
                    状态
                </label>
               <div class="layui-input-block layui-">
                   <select name="status">
                       {volist name ="statusArr" id="item"}
                       <option value="{$key}" {$key == $model.status ? 'selected' : ''} >{$item}</option>
                       {/volist}
                   </select>
               </div>
            </div>

            <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="" type="submit">
                  修改
              </button>
              <button  class="layui-btn layui-btn-danger" type="button"  onclick="history.back(-1)">
                  返回
              </button>
          </div>
        </form>
    </div>
{/block}